.results{
  text-align: center;

    &__header{
      font-size: 2.4rem;

      margin: 2rem 0;
    }

    &__item{
      padding: 1.2rem 0;
      margin: .2rem auto;
      border: 1px solid black;
      border-radius: 1rem;
      width: 50%;
    }
}
