.results{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  &__header{
    font-size: 2.4rem;

    margin: 2rem 0;
  }

  &__item{
    font-size: 2.4rem;
    opacity: 0;
    padding: 1.2rem .5rem;
    margin: 1rem 0;

    animation: pulse ease-in 1s forwards;
    transition: all ease 150ms;
    &:not(:last-child){
      border-bottom: 1px solid black;
    }
    &:hover {
      color: white;
      background-color: $primary-color;
    }
    &:hover .results__link{
      color: white;
    }
  }

  &__link{
    color: $primary-color;
    text-decoration: none;
    transition: all ease 150ms;

  }
}

.grid_spinner{
  margin-top: 10rem;
  align-self: center;
}

@for $i from 1 through 25 {
  .results__item{

    &:nth-child(#{$i}) {
      
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (.9s / 8);
    }
  }
}
