.bill{
  background-color: $color-grey-light;
}

.bill__details{
  min-height: 900px;
  // box-shadow: 0 -4px 6px 2px rgba(black, .2);
  padding: 2rem 1rem;
  display: grid;
  grid-template-rows:max-content max-content;
  grid-template-columns: auto 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  @include respond(phone){
    display: block;
  }
  .heading__secondary{
    color: $secondary-color;
  }
}

.tracking__list{
  padding:0 1rem;
  list-style: none;
  font-size: 2rem;
}


.bill__heading{
  color: $color-white;
  text-shadow: 2px 1px 10px black;
  // box-shadow: 0 4px 3px 2px rgba(black, .6);
  z-index: 1;
  padding: 1rem;
  display: flex;
  background-color: $primary-color;
}

.bill__sponsor{
  padding: 1rem;
  cursor: pointer;
  
  &-rep{
    background-color:#ee5253;
    background: linear-gradient(to right,#ee5253,#ef8383)
  }

  &-dem{
    background: linear-gradient(to right,#2e86de,#71aae2);
  }

  .sponsor__image{

    display: block;
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    border-radius: 1rem;
    background: url('../images/user-solid.svg');
    background-size: 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
  }
}

.chartjs-render-monitor{
  width: 100% !important;
}



.vote__container{
  @include respond(phone){
    padding: 0;
    .u-flex-container{
      display: block;
    }
    .vote__list{
      border: none;
      height: 10rem;
      overflow-y: scroll;
    }
  }
}

.vote__list{
  
  border-right: 2px solid $color-grey-dark;
  overflow: hidden;
}
.vote__chart{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1rem;

  @include respond(phone){
    width: 100%;
  }
}
.vote{
  font-size: 16px;
  list-style: none;
  padding: .5rem;
  padding-right: 8rem;
  min-width: 191px;
  transition: all 100ms ease-in-out;
}

.vote:hover{
  color: $color-white;
  background-color: $secondary-color;
}
.vote-selected{
  color:$secondary-color;
}

.vote__desc{
  text-align: center;
  margin: 2rem;
  
}