.results__box{
  background-color: $color-grey-dark;
  // border-radius: 10px;
  // padding-top: .5rem;
  // padding-left: .5rem;
  // padding-bottom: 2rem;
  margin: 4px none;
  padding: .5rem 1rem 2rem 1rem;
  // padding: 2rem;
  // margin: 2rem 0;

  @include respond(phone){
   border-radius: 0;
   margin: 4px 0;
  }
}

.bill__box{
  background-color: $color-white;
  border: 1px solid $color-grey-dark;
  border-radius: 10px;
  padding: 2rem;
  overflow: hidden;

  &-votes{
    padding: 0;
  }

  &-nop{
    padding: 0;
  }
}
