.results__box{
  background-color: #333;
  border-radius: 10px;
  padding: 2rem;

  @include respond(phone){
   border-radius: 0; 
  }
}

.bill__box{
  background-color: $color-white;
  border: 1px solid $color-grey-dark;
  border-radius: 10px;
  padding: 2rem;
  overflow: hidden;

  &-votes{
    padding: 0;
  }
}
