.search{
  &__label{
    font-size: 3.6rem;
  }

  &__input{
    font-sizE: 3.6rem;
    border: 1px solid #777;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

    @include respond(phone){
      border-radius: .5rem;
    }
  }

  &__submit{
    font-size: 3.6rem;
    padding: 0 .5rem;
    border: 1px solid #777;
    border-image-slice: 100%;
    border-image-outset: 0px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    @include respond(phone){
      border-radius: .5rem;
    }
  }

  &__err{
    padding: 1rem;
    font-size: 1.6rem;
    color: $color-white;
    border: 1px solid  $color-err;
    background-color:  $color-err;
    width: 20%;
    margin: 2rem auto;
  }

  
}