.search{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  &__label{
    font-size: 3.6rem;
  }

  &__input{
    width: 500px;
    max-height: 52px;
    font-size: 3.6rem;
    vertical-align: start;
    border: 1px solid #777;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

    @include respond(phone){
      width: 72vw;
    }
  }

  &__submit{
    max-height: 52px;
    font-size: 3.6rem;
    padding: 0 .5rem;
    border: 1px solid #777;
    border-image-slice: 100%;
    border-image-outset: 0px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

    @include respond(phone){
    }
  }

  &__err{
    align-self: stretch;
    padding: 1rem;
    font-size: 1.6rem;
    color: $color-white;
    border: 1px solid  $color-err;
    background-color:  $color-err;
    width: 20%;
    margin: 2rem auto;
  }


  &__icon{

    background-image:url('../images/search.svg');
    height: 50px;
    width: 50px;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    vertical-align: baseline;
  }

  
}