.u-centered{
  display:block;
  margin: 0 auto;
}

.u-center-text{
  text-align: center;
}

.u-margin-bottom-sm{
  margin-bottom: 1.6rem;
}

.u-margin-bottom-md{
  margin-bottom: 2rem;
}

.u-margin-bottom-lg{
  margin-bottom: 3rem;
}