$primary-color: #c0392b;
$secondary-color: #1D6876;

$secondary-color-light: #1abc9c;

$color-grey-dark: #b9b8b6;
$color-grey-light: #f1f1f1;


$color-white: #fff;
$color-black: #000;

$color-err: #d9534f;